:root {
  /* Colors */
  --color-neutral-text: #232a31;

  --color-primary-color: #1b84ff;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-xl: 32px;

  /* Typography */
  --ion-font-family: System UI;
  --font-size-body: 15px;
  --font-weight-regular: 500;
  --line-height-body: normal;
  --letter-spacing-tight: -0.01em;

  /* Radius */
  --radius-base: 6px;

  /* Shadows */
  --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.12);
}
