:root {
  /* Colors */
  --ion-color-primary: #111827;
  --ion-color-primary-rgb: 17, 24, 39;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000615;
  --ion-color-primary-tint: #232a39;
}
