:root {
  /* Colors */
  --ion-color-primary: #0f172a;
  --ion-color-primary-rgb: 15, 23, 42;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000518;
  --ion-color-primary-tint: #21293c;

  --ion-color-secondary: #1d4ed8;
  --ion-color-secondary-rgb: 29, 78, 216;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0b3cc6;
  --ion-color-secondary-tint: #2f60ea;

  --color-surface: #020617;
}
